@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&family=Source+Sans+Pro:wght@300;400&display=swap');
/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* image display block */
img {
  display: block;
  max-width:100%;
  height:auto;
}
/* utility classes */
html{
    scroll-behavior: smooth;
}
/* general styles */
body {

    font: 3rem 'Source Sans Pro', sans-serif;
    min-height:100vh;
    background-color:#475569;
    background-image:radial-gradient(white,#475569);
    display:flex;
    flex-direction:column;
    
}
/* header,nav,main,footer{
    display:grid;
    place-content:center;
    grid-template-columns:100%;
    text-align:center;
} */
header, footer{
    position:sticky;
    background-color:#1e293b;
    color:whitesmoke;
    text-align:center;
}
header{
    top:0;
}
footer{
    bottom:0;
}
nav{
    background-color:white;
    color:black;
    padding:0.5rem;
    border-bottom:2px solid yellow;
    font-weight:bolder;
    display:flex;
    justify-content:space-evenly;
    
}
nav a,nav a:visited{
    color:black;
    text-decoration:none;


}
nav a:hover,nav a:focus{
    color:aliceblue;
   border:2px solid hsla(217, 33%, 17%, 0.171);
   background-color:rgba(30, 41, 59, 0.233);
}
main{
    flex-grow:1;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:1.5rem;
    padding:1rem;
   

}
/* profile card */
.card{
    scroll-margin-top:8rem;
    width:min(100%,350px);
    background-color:#cbd5e1;
    border:2px sold black;
    border-radius:15px;
    padding:1rem;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.card figure{
    display:flex;
    flex-flow:column nowrap;
}
.card img{
    border:5px double black;
    border-radius:50%;
}
.card figcaption{
    font-weight:bolder;
    font-size:4rem;
    margin:1rem;
    text-align:center;
}
/* small screen */
@media screen and(min-width:576px){
    main{
        justify-content:center;
    flex-flow:row-wrap;
    padding:1rem;
   
}
.card{
    width:min(100%,400px);
    padding:1rem;
}
.card:last-child{
    order:-1;
}

}
/* medium */
@media screen and (min-width:768px) {
  
    nav{
    display:none;

   }
   .card{
    width:min(100%,324px);
    padding:1rem;
    
   }
   .card figure{
    flex-flow:column-reverse ;

   }
   .card figcaption{
    margin:0.1em 0;
   }
   .card p{
    margin-top:1rem;

   }
    
   
}